<!DOCTYPE html>
<html>
<head>
	<title>Photo Uploader</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 jumbotron">
	            <h2 class="page-header">Welcome to photo uploader</h2>
                <p class="text-info" style="padding-left: 20px">Here you can upload multiple photos at once...</p>
                <br>
	            <form method="post" enctype="multipart/form-data">
				    {% csrf_token %}
				    <span class="col-sm-3">
				    	<input class="form-control" type="file" name="myfile" multiple>
				    </span>
				    <span class="col-sm-4">
				    	<button class="btn btn-info" type="submit">Upload</button>
				    </span>
				</form>
		    </div>
            <div class="col-sm-12">
                {% if uploaded %}
                    <h2 class="page-header">Uploaded files:</h2>
                    {% for u in uploaded %}
                        <p style="padding-left: 20px"><a href="/media/{{ u }}">{{ u }}</a></p>
                    {% endfor %}
				{% endif %}
            </div>
		</div>
		<div class="row bg-danger" style="width: 100%; padding: 10px; position: fixed; bottom: 0px">
			<div class="col-sm-12 text-center">
				<a href="https://simpleisbetterthancomplex.com/tutorial/2016/08/01/how-to-upload-files-with-django.html" target="_blank">Reference</a>
			</div>
		</div>
	</div>
</body>
</html>
